.gallery {
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    background-image: linear-gradient(
      to top,
      #ecbf9e,
      #f3ceb6,
      #f8ddcd,
      #fcede5,
      #fffdfc
    );
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    width: 25%; 
    flex: 25%;
    max-width: 60%; 
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  
  @media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  } */
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  /* @media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  } */
  